# cPanel Webmail SMTP Configuration
SMTP_HOST=mail.prefabpanelnepal.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@prefabpanelnepal.com
SMTP_PASS=Qwater123@
SMTP_TO=contact@prefabpanelnepal.com, info@prefabpanelnepal.com
ADMIN_PASSWORD=Qwater123!@#
